body{
background-color:#f6fbf4;
scroll-behavior: smooth;
}

.img-fluid {
    width:120px;
    height:70px;
    margin-top:15px;
}

.my-search-button {
    height: 50px; 
    width: 110px; 
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor:pointer;
}

.my-search-form {
    height: 50px;
    width: 500px; 
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;    
}


/* h6{
    /* font-weight: 450;
    margin-top: 40px;
    font-size: 25px !important;
    text-align: center;
    padding:0;
    margin: 0; */
 */

div h5{
    font-size: 30px;
    font-weight:500 ;
}

.nutri-table table {
    height: 30px;
}


.fitness-img {
    margin-left: 50px;
    margin-top: 30px;
    width:80px;
    height:80px;
}

div h6 {
    font-size:30px;
}

.tip-1 {
    display: flex;
    flex-direction: column;
    margin-top:28%;
    margin-left:0% !important;
}

.tip-1 img {
    margin-bottom: 5px;
}

#nutri-data {
    margin-top: 25%;
}

#nutri-data h6,p {
    margin-bottom: 6%;
}

#new p {
    margin-left: 40px; 
    font-size: 25px;
    font-weight: 400;
    margin-top: 33px;
    font-family:cursive;
}

#new img {
    margin-bottom: 20px;
}

h2 {
text-align: center;
text-decoration:underline;
}


